@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .films__cards {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    
    .films__item {
        margin: 0 auto;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .collections__cards {
      grid-template-columns: repeat(4, 1fr);
    }

    .collections__item {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .series__cards {
      grid-template-rows: repeat(6, 190px);
    }

    .series__item:nth-child(2) {
      grid-column: span 4;
    }

    .series__item {
      grid-column: span 2;
    }

}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
    .header__nav {
        position: relative;
        padding: 29px 0;
    }
    
    .header__list {
        position: absolute;
        flex-direction: column;
        top: 100%;
        background: var(--black);
        width: 200px;
        padding: 20px;
        border-radius: 0 0 20px 0;
        left: -200px;
        transition: 500ms;
        z-index: 999;
    }
    
    .header__link {
        text-align: center;
    }
    
    .header__menu {
        display: flex;
    }
    
    .header__menu:focus + .header__list {
        left: 0;
    }
    
    .banner__title {
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }
    
    .banner__desc {
        text-align: center;
    }
    
    .banner__box {
        justify-content: center;
    }
    
    .films .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .films__cards {
        grid-template-columns: 1fr;
    }
    
    .films__desc {
        text-align: center;
    }

    .cartoons .container {
      align-items: center;
    }

    .collections .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .collections__cards {
      width: 100%;
      grid-template-columns: repeat(6, 1fr);
    }

    .collections__item {
      grid-column-end: 6;
    }

    .series .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
}

@media(max-width: 576px) {
    .container {
        max-width: auto;
    }
    
    .banner__title {
        font-size: 40px;
        line-height: 50px;
    }
    
    .banner__desc {
        margin-bottom: 30px;
    }
    
    .banner {
        height: 75vh;
    }
    
    .banner__box {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .collections__cards {
      grid-template-columns: 1fr;
    }

    .collections__item {
      grid-column-start: 1;
      grid-column-end: -1;
      margin: 0 auto;
    }

    .collections__item-title {
      font-size: 18px;
    }

    .series__cards {
      grid-template-rows: repeat(12, 190px);
    }

    .series__item {
      grid-column: span 4;
      grid-row: span 2;
    }

    .series__item:hover .series__btn {
      transform: scale(1.2) translateY(-100px);
    }

    .series__item:nth-child(1) .series__item-title {
      font-size: 25px;
    }

}

@media(max-width: 450px) {
    .banner__title {
        font-size: 29px;
        line-height: 40px;
    }
}